@{
  Layout = "_Layout";
}

<div class="row">
  <div class="col">
    <h3>Welcome to your factory manager.</h3>
    <p>To view your engineers or list of machines click on the appropriate link above.</p>
  </div>
</div>